/.idea
/.vscode
/.vagrant
/vendor
.env
composer.phar
.phplint-cache
/build

# Built phars
*.phar
build/*.phar

# ci config for local ci build
.circleci/local-config.yml

# PHPUnit caches
.phpunit.result.cache